<% content_for :main do %>
<h2>External payment</h2>
<%= form_tag("/atms/interform", method: "post" , class: "form-horizontal") do %>

<div class="form-group">
  <%= label_tag :sourceAccount, "Račun nalogodavca" , class: "control-label col-xs-2" %>
  <div class="col-xs-4" %>
    <%= text_field_tag :sourceAccount,nil,class: "form-control" %>
  </div>
   <%= label_tag :destinationAccount, "Račun korisnika" , class: "control-label col-xs-2" %>
  <div class="col-xs-4" %>
    <%= text_field_tag :destinationAccount,session["intpay"]["destinationAccount"],class: "form-control" %>
  </div>
</div>


<div class="form-group">
  <%= label_tag :currency, "Valuta" , class: "control-label col-xs-1" %>
  <div class="col-xs-1" %>
    <%= text_field_tag :currency,session["intpay"]["currency"],class: "form-control" %>
  </div>

  <%= label_tag :amount, "Iznos" , class: "control-label col-xs-1" %>
  <div class="col-xs-5" %>
    <%= text_field_tag :amount,session["intpay"]["amount"],class: "form-control" %>
  </div>
 
  <%= label_tag :reservationId, "ID rezervacije" , class: "control-label col-xs-1" %>
  <div class="col-xs-3" %>
    <%= text_field_tag :reservationId,nil,class: "form-control" %>
  </div>
</div>





<div class="form-group">
  <%= label_tag :currencyDate, "Datum Valute" , class: "control-label col-xs-1" %>
  <div class="col-xs-3" %>
    <%= date_field_tag :currencyDate,nil,class: "form-control" %>
  </div>

  <%= label_tag :personalId, "Personal ID" , class: "control-label col-xs-1" %>
  <div class="col-xs-3" %>
    <%= text_field_tag :personalId,nil,class: "form-control" %>
  </div>

  <%= label_tag :purposeCode, "Šifra plaćanja" , class: "control-label col-xs-1" %>
  <div class="col-xs-3" %>
    <%= text_field_tag :purposeCode,session["intpay"]["purposeCode"] ,class: "form-control" %>
  </div>
  
</div>

<div class="form-group">
  <%= label_tag :purpose, "Svrha" , class: "control-label col-xs-2" %>
  <div class="col-xs-10" %>
    <%= text_field_tag :purpose,session["intpay"]["purpose"],class: "form-control" %>
  </div>
</div>


<div class="form-group">
  <%= label_tag :benRefNumber, "Poziv na broj korisnika." , class: "control-label col-xs-2" %>
  <div class="col-xs-4" %>
    <%= text_field_tag :benRefNumber,session["intpay"]["benRefNumber"],class: "form-control" %>
  </div>

  <%= label_tag :benRefModel, "Model korisnika" , class: "control-label col-xs-2" %>
  <div class="col-xs-4" %>
    <%= text_field_tag :benRefModel,session["intpay"]["benRefModel"],class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= label_tag :benName, "Naziv korisnika." , class: "control-label col-xs-2" %>
  <div class="col-xs-4" %>
    <%= text_field_tag :benName,session["intpay"]["benName"],class: "form-control" %>
  </div>

  <%= label_tag :benAddress, "Adresa" , class: "control-label col-xs-2" %>
  <div class="col-xs-4" %>
    <%= text_field_tag :benAddress,session["intpay"]["benAddress"],class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= label_tag :orderPartyRefNumber, "Poziv na broj nalog." , class: "control-label col-xs-2" %>
  <div class="col-xs-4" %>
    <%= text_field_tag :orderPartyRefNumber,nil,class: "form-control" %>
  </div>

  <%= label_tag :orderPartyRefModel, "Model nalogodavca" , class: "control-label col-xs-2" %>
  <div class="col-xs-4" %>
    <%= text_field_tag :orderPartyRefModel,nil,class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= label_tag :orderPartyName, "Naziv nalogodavca." , class: "control-label col-xs-1" %>
  <div class="col-xs-2" %>
    <%= text_field_tag :orderPartyName,nil,class: "form-control" %>
  </div>

  <%= label_tag :orderPartyAddress, "Adresa" , class: "control-label col-xs-1" %>
  <div class="col-xs-2" %>
    <%= text_field_tag :orderPartyAddress,nil,class: "form-control" %>
  </div>
  <%= label_tag :orderPartyPlace, "Mesto" , class: "control-label col-xs-1" %>
  <div class="col-xs-2" %>
    <%= text_field_tag :orderPartyPlace,nil,class: "form-control" %>
  </div>
   <%= label_tag :urgency, "Hitnost" , class: "control-label col-xs-1" %>
  <div class="col-xs-1" %>
    <%= text_field_tag :urgency, "1",class: "form-control" %>
  </div>

  <div class="col-xs-1" %>
    <%= submit_tag "OK",class:"btn btn-primary"  %>
    </div>

</div>


 


<% end %>
<% end %>
